@font-face
    font-family: 'Slackey'
    src: url('assets/fonts/Slackey.ttf') format('truetype')

$orange: #FF8C37
$light-yellow: #FAEFD6
$black: #282727
$white: #ececec
$light-blue: #0AAFB4
$blue: #09878B

*
    padding: 0
    margin: 0
    box-sizing: border-box

body
    background-color: $light-yellow
    font-family: 'Open Sans', sans-serif
    color: $black
    padding: 50px 50px

h1
    font-family: 'Slackey', cursive
    font-size: 50px
    color: $orange
    text-align: center
    margin-bottom: 50px

h2
    font-family: 'Slackey', cursive
    font-size: 30px
    color: $orange
    text-align: left
    margin-bottom: 20px

h3
    font-family: 'Slackey', cursive
    font-size: 25px
    color: $orange
    text-align: left
    margin-bottom: 20px

p
    font-size: 18px
    font-weight: 500

input
    width: 40px
    background-color: $light-yellow
    border: 1px solid $light-blue
    border-radius: 5px
    padding: 5px
    text-align: center
    color: $light-blue
    font-family: 'Open Sans', sans-serif

button
    background-color: $light-blue
    border: none
    border-radius: 5px
    padding: 10px
    text-align: center
    color: $light-yellow
    font-size: 20px
    cursor: pointer
    font-family: 'Open Sans', sans-serif

    &:hover
        background-color: $blue

input[type=number]
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button
        -webkit-appearance: none
        margin: 0

        -moz-appearance: textfield

input:focus
    outline: none

#options
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-start
    margin-bottom: 50px

    h2
        width: 100%
        text-align: left

    .option
        display: flex
        flex-direction: column
        justify-content: space-between

        background-color: $light-blue
        border-radius: 20px

        margin: 20px
        padding: 20px
        height: 500px
        width: 45%
        max-width: 400px
        min-width: 280px

        color: $white

        h3
            color: $white
            margin-bottom: 10px

        .description
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            width: 100%
            height: auto

            h3
                width: 100%

            div
                display: flex
                justify-content: space-between

                width: 100%
                margin-bottom: 10px

                div
                    justify-content: flex-end
                    width: 40%

            button
                width: 30px
                background-color: $light-yellow
                border: none
                border-radius: 5px
                padding: 5px
                text-align: center
                color: $light-blue

            input
                width: 30px
                border: none
                text-align: center
                margin: 0 10px

        .illustration
            background-color: $light-yellow

            display: flex
            justify-content: center
            align-items: center
            height: 300px
            padding: 20px
            width: 100%
            border-radius: 15px
            img
                object-fit: contain
                width: 100%
                height: 260px
                border-radius: 20px

.instructions
    margin-bottom: 40px
    h2
        margin-bottom: 5px

#result
    display: none
    flex-direction: row
    justify-content: space-between
    align-items: flex-start

    h2
        width: 50%
        text-align: left

#racoon
    position: relative
    width: 400px
    img
        width: 400px
        height: 100%
        object-fit: contain

    h3
        position: absolute
        top: 2.3%
        left: 36.4%
        bottom: 45%
        right: 3.1%
        width: auto
        height: auto
        text-align: center
        justify-content: center
        display: flex
        align-items: center
        font-size: 18px
        color: $white

@media (max-width: 900px)
    #options
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between

        .option
            width: 45%
            margin: 20px 0

    #result
        flex-direction: column
        justify-content: flex-start

        h2
            width: 100%

    #racoon
        width: 100%
        img
            width: 100%

        h3
            font-size: 14px

@media (max-width: 768px)
    h1
        font-size: 40px

    h2
        font-size: 25px

    h3
        font-size: 20px

    p
        font-size: 16px

    #options
        flex-direction: column
        align-items: center

        .option
            width: 100%
            max-width: none
            margin: 20px 0
