* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FAEFD6;
  font-family: "Open Sans", sans-serif;
  color: #282727;
  padding: 50px 50px;
}

h1 {
  font-family: "Slackey", cursive;
  font-size: 50px;
  color: #FF8C37;
  text-align: center;
  margin-bottom: 50px;
}

h2 {
  font-family: "Slackey", cursive;
  font-size: 30px;
  color: #FF8C37;
  text-align: left;
  margin-bottom: 20px;
}

h3 {
  font-family: "Slackey", cursive;
  font-size: 25px;
  color: #FF8C37;
  text-align: left;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  font-weight: 500;
}

input {
  width: 40px;
  background-color: #FAEFD6;
  border: 1px solid #0AAFB4;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  color: #0AAFB4;
  font-family: "Open Sans", sans-serif;
}

button {
  background-color: #0AAFB4;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  color: #FAEFD6;
  font-size: 20px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}
button:hover {
  background-color: #09878B;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  -moz-appearance: textfield;
}

input:focus {
  outline: none;
}

#options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 50px;
}
#options h2 {
  width: 100%;
  text-align: left;
}
#options .option {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0AAFB4;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
  height: 500px;
  width: 45%;
  max-width: 400px;
  min-width: 280px;
  color: #ececec;
  transition: 0.3s;
}
#options .option:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}
#options .option h3 {
  color: #ececec;
  margin-bottom: 10px;
}
#options .option .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
#options .option .description h3 {
  width: 100%;
}
#options .option .description div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
#options .option .description div div {
  justify-content: flex-end;
  width: 40%;
}
#options .option .description button {
  width: 30px;
  background-color: #FAEFD6;
  border: none;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  color: #0AAFB4;
}
#options .option .description input {
  width: 30px;
  border: none;
  text-align: center;
  margin: 0 10px;
}
#options .option .illustration {
  background-color: #FAEFD6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  padding: 20px;
  width: 100%;
  border-radius: 15px;
}
#options .option .illustration img {
  object-fit: contain;
  width: 100%;
  height: 260px;
  border-radius: 20px;
}

.instructions {
  margin-bottom: 40px;
}
.instructions h2 {
  margin-bottom: 5px;
}

#result_everyday {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;
}
#result_everyday h2 {
  width: 50%;
  min-width: 300px;
  text-align: left;
}

#result_hourly {
  display: none;
}
#result_hourly h2 {
  width: 100%;
  display: none;
}

#racoon {
  position: relative;
  width: 400px;
}
#racoon img {
  width: 400px;
  height: 100%;
  object-fit: contain;
}
#racoon h3 {
  position: absolute;
  top: 2.3%;
  left: 36.4%;
  bottom: 45%;
  right: 3.1%;
  width: auto;
  height: auto;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #ececec;
}

@media (max-width: 900px) {
  #options {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #options .option {
    width: 45%;
    margin: 20px 0;
  }
  #result {
    flex-direction: column;
    justify-content: flex-start;
  }
  #result h2 {
    width: 100%;
  }
  #racoon {
    width: 100%;
  }
  #racoon img {
    width: 100%;
  }
  #racoon h3 {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  #options {
    flex-direction: column;
    align-items: center;
  }
  #options .option {
    width: 100%;
    max-width: none;
    margin: 20px 0;
  }
}

/*# sourceMappingURL=style.css.map */
